.map-container {
    text-align: center;
    margin: 2rem 0;
}

.map-container iframe {
    width: 100%;
    height: 400px;
    border: 0;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .map-container iframe {
        height: 300px;
    }
}
