body {
    margin: 50px;
    background-image: url('../images/bg.jpg');
    font-family: 'Trebuchet MS', Verdana, Tahoma, serif
}

/* �berschriften und Absatz */
h1 {
    margin: 0 0 10px 0;
    color: #333;
    padding-bottom: 3px;
    font-size: 30px
}

h1 span {
    border-bottom: 2px dotted #333
}

h2 {
    margin: 15px 0 0 0;
    color: #00A0FF(240, 100%, 50%);
    font-size: 18px
}

p {
    margin: 0 0 10px 0;
    color: #000000;
    text-align: justify;
    line-height: 150%;
    font-size: 14px
}

/* allgemeine Links im fortlaufenden Text */
a:link, a:active, a:visited {
    text-decoration: underline;
    color: #000
}

a:hover {
    text-decoration: none;
    color: #00A0FF
}

/* Homepagename Titel */
#titel {
    line-height: 90px;
    border: 1px solid #dedede;
    background-color: #ffffff;
    background-image: url('../images/logo.jpg');
    background-size: 330px;
    background-position-x:center;
    background-position: 1,5cm;
    background-repeat: no-repeat;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 48px;
    color: #00A0FF;
    text-align:center  
}

/* Formatierung Inhalt */
#inhalt {
    border: 3px solid #ffffff;
    width: 900px;
    padding: 15px;
    background-color: #fff;
    color: #000;
    text-align: justify;
    font-size: 12px
}

#textbereich {
    background-color: #f2f2f2;
    margin: 10px 0;
    border: 0px solid #666;
    padding: 5px
}

/* horizontales Navigationsmen� ganz oben */
.nav_ob {
    width: 900px;
    margin: 10px 0;
    font-size: 12px
}

.nav_ob a:link, .nav_ob a:active, .nav_ob a:visited {
    text-decoration: underline;
    margin-right: 5px;
    color: #fff
}

.nav_ob a:hover {
    text-decoration: overline;
    color: #00A0FF
}

/* horizontale Hauptnavigation */
.nav {
    margin-top: 10px;
    width: 100%;
    table-layout: fixed;
    font-size: 19px;
    background-color: #ffffff; /*Farben Umrandung Navbar*/
    border: 2px solid rgb(162, 162, 162)
}

.nav a:link,  .nav a:visited {
    display: block;
    line-height: 26px;
    text-decoration: none;
    /*border: 3px solid #ffffff;*/
    background-color: #ffffff;
    text-align: center
}
.nav a.active{
    background-color: #04AA6D;
    color: white;
  }

.nav a:hover {
    background-color:#ffffff ;
    text-decoration: none;
    border: 0px solid #00A0FF;
    color: #00A0FF
    

}

/* Footer */
#fuss {
    background-color: #fcfcfc;
    border: 1px solid #dedede;
    text-align: center;
    font-size: 10px;
    line-height: 45px
}